/* css for first-web-app */
.container{
    width: 950px;
    height: auto;
    margin: auto;
}

.header{
display: flex;    
justify-content: space-between;
position: relative;
align-items: center;
/*gap: 15px;*/
width: 950px;
margin: auto;
background: #fbfcff;
box-sizing: border-box;
box-shadow: 0px 5px 7px 2px grey;
}

#photo{
width: 800px;
padding: 0px;
margin:auto;
display: block;
position: relative;
}

.button{
position: absolute;
margin: auto;
display: flex;
}

#button1{
left: 3%;
}

#button2{
transform: rotate(180deg);
right: 3%;
}

.button:hover {
background: #ffffff;
opacity: 0.4;
transition: 0.5s;
}

.parent {
    position: relative;
    max-width: 760px;
    margin: 0 auto;
  }
  .parent img {
    vertical-align: middle;
  }
  .parent .text {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);/* Fallback color */
    background: rgba(0, 0, 0, 0.5);/* Black background with opacity */
    color: #ffffff;
    width: 100%;
    padding: 20px;
  }

  #ThumbNailContainer {
    display: flex;
    align-items: center;
    width: 800px;
    margin: auto;
    justify-content: space-between;
  }

  .box {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-size: cover;
  }